* {
  margin: 0;
  font-family: sans-serif;
}

/* Lấy từ assignment 1 */
.cv-document {
  box-sizing: border-box;
  border: none;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: sans-serif, arial, tahoma;
  font-size: 10pt;
}

.section-title {
  font-size: 1.75em;
  font-weight: 500;
  margin-bottom: 25px;
  margin-top: 30px;
}

/* Chèn text vào banner */
.cv-banner {
  position: relative;
}

#banner-img {
  width: 100%;
  height: 469px;
  object-fit: cover;
  object-position: top;
  position: relative;
  filter: brightness(50%); /* điều chỉnh ánh sáng của ảnh xuống còn 50% */
}

.centered-1 {
  position: absolute;
  left: 50%;
  top: 15%;
  color: white;
  transform: translate(-50%, -50%); /* Dịch chuyển một đoạn */
}

.centered-2 {
  position: absolute;
  left: 50%;
  top: 20%;
  color: white;
  transform: translate(-50%, -50%);
}

h1 {
  display: inline-block;
  font-weight: normal;
  margin: 0;
  font-size: 2.5em;
}

.alt-name {
  display: inline-block;
  margin: 0;
  font-size: 0.9em;
  font-family: "open_sanslight", sans-serif;
  font-weight: 400;
}

/* Thông tin từ nav đến cuối */
section > .container {
  margin: auto;
  display: block;
  /* padding: 30px 10px; */
  line-height: 24px;
}

/* Chỉnh navbar */

#navbar .container {
  max-width: 90%;
  height: 75px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 5%;
  text-transform: uppercase;
  position: relative;
}

.nav_gap {
  padding-right: 40%;
}

.nav_link {
  text-decoration: none;
}

#navbar a {
  color: black;
  font-size: 0.9em;
}

#navbar i {
  color: #2710f8;
}

.background-grey {
  background-color: #e9e7e7;
}

/* avatar */
#avatar {
  width: 200px;
  position: absolute;
  top: -100%;
  border: solid white 7px;
  border-radius: 49.9%; /* Độ cong đường viền. Max = 100%/2 = 50% */
}

/* Mục tiêu nghề nghiệp + thông tin cá nhân */

#about .container {
  max-width: 98%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  margin: 0 1%;
}

#target {
  padding: 50px 80px 30px 40px;
  background-color: #f1f1f1;
}

#personal-info {
  padding: 50px 80px 30px 40px;
  background-color: #e9e9e9;
}

#about h2 {
  font-size: 1.9em;
  font-weight: 500;
  margin-bottom: 30px;
}

.info li {
  list-style: none;
}

.info span {
  font-weight: bold;
}

#personal-info i {
  color: #1681e6;
}

#about ul {
  padding: 0;
  margin-bottom: 20px;
}

/* Thông tin nghề nghiệp */

.mar-top {
  margin-top: 20px;
}

#job-info .container {
  display: grid;
  max-width: 90%; /* width chiếm 90% diện tích trang */
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: auto auto; /* chia làm 3 cột và 2 hàng */
  gap: 30px;
  margin: 30px 5% 0 5%;
}

#job-info h2 {
  font-size: 1.9em;
}

#job-info h4 {
  font-size: 0.9em;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: 75% 25%; /* Chia title với icon */
}

.grid i {
  font-size: 3.1em;
  margin-bottom: 30px;
}

.border-1 {
  padding: 20px;
  border: ridge 2px;
}

.border-1 h4 {
  margin-top: 20px;
}

.timeline {
  font-style: italic;
}

.timeline span {
  background-color: #1681e6;
  color: white;
  border: solid #1681e6;
  border-width: 3px 7px;
  border-radius: 5px;
}

.grid-icon {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr)); /* 4 cột hoạt động */
  grid-template-rows: auto auto; /* hàng icon và hàng text */
  gap: 10px;
}

.grid-icon i {
  width: 20px;
  height: 20px;
  padding: 20px;
  font-size: 1.25em;
  border: 1px solid;
  border-radius: 50%; /* làm cong đường viền của <i> */
}

.grid-icon p {
  text-align: center;
}

/* thanh thang điểm */
.score-blue {
  background-color: #199cdb;
  display: inline-block;
  height: 4px;
  border-radius: 20px;
  margin-right: 10px;
  width: 45px;
}

.score-gray {
  background-color: gray;
  display: inline-block;
  height: 4px;
  border-radius: 20px;
  margin-right: 10px;
  width: 45px;
}

.lang {
  margin-top: 0;
}

/* Chứng chỉ - Giải thưởng */

#certificate .container {
  max-width: 95%;
}

.certificate {
  display: flex; /* để img và text thẳng hàng */
  align-content: center;
}

.certificate img {
  object-fit: cover;
  width: 200px;
  height: auto;
  display: inline-block;
  margin: 0 20px 30px 0;
}

.certificate h4 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 10px;
}

.certificate p {
  font-size: 0.9em;
  font-weight: normal;
}

.cerf-text {
  display: inline-block;
}

#web-cert {
  max-width: 47.5%;
  height: auto;
  margin: 0;
  float: left; /* để <div> đầu tiên sang bên trái sẽ tự động chỉnh <div> còn lại */
}

#javascript-cert {
  max-width: 47.5%;
  padding-left: 15px;
  border-left: 1px solid #d6c08d;
}

#database-cert {
  padding-top: 30px;
  border-top: 1px solid #d6c08d;
}

/* Dự án */
#project .container {
  max-width: 90%;
}

.small-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.text-transform {
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  border-style: groove; /* Như được khắc họa trên tranh sơn dầu??? ; khiến border nhìn 3D, chân thật hơn */
  padding: 10px;
  border-width: 2px;
}

.du-an-border {
  display: grid;
  grid-template-columns: 1fr; /* 1 cột duy nhất */
}

.du-an-img {
  width: 100%;
  padding: 10px;
  border-width: 2px;
}

.du-an-grid {
  display: grid;
  grid-template-columns: 20% 80%;
  border-style: groove;
  border-width: 2px;
  padding: 10px;
}

.top-border {
  border-style: groove;
  padding: 10px;
  border-width: 2px;
}

.top-border i {
  color: black;
  font-size: 1.25em;
  padding: 0 7.5px;
}

.blue-border {
  background-color: #199cdb;
  color: white;
  border: solid #199cdb;
  border-width: 5px 10px 3px;
  border-radius: 20px;
}

.⬅border {
  padding-left: 3%;
  border-left: 1px solid black;
}

.block {
  display: inline-block;
}

/* Footer */
#footer .container {
  max-width: 100%;
  padding-top: 50px;
}

#footer i {
  font-size: 2em;
  color: #1681e6;
}

#footer ul {
  display: flex;
  align-items: center;
  background-color: #ececec;
  justify-content: center;
  list-style: none;
  gap: 15%;
  padding: 30px 20px;
}

/* Chỉnh sửa anchor */
#footer a {
  text-decoration: none;
  color: #2710f8;
}

#footer a:hover {
  color: red;
}

#footer a:active {
  color: purple;
}

@media (max-width: 51em) {
  .score-blue {
    margin-right: 9px;
    width: 40px;
  }

  .score-gray {
    margin-right: 9px;
    width: 40px;
  }
}

@media (max-width: 978px) {
  .block {
    display: block;
    padding-left: 24%;
  }
}

.hide,
.hidden {
  display: none;
}

.show input,
.show span {
  display: block;
}

.show input {
  width: 100%;
}

.show input:focus-visible {
  outline-color: #199cdb;
}

.show span {
  font-size: 0.8em;
  color: gray;
  margin-bottom: 10px;
}

.submit {
  background-color: #1483b6;
  color: white;
  border: solid #1483b6;
  border-radius: 3px;
}

.show button:hover {
  background-color: #136a92;
  border-color: #136a92;
}

.show button:active {
  border: black double;
}

.border-1:hover button {
  display: block;
}

.view-button {
  display: none;
  font-size: 0.8em;
  background-color: #f7e1d2;
  border: none;
  padding: 3px 20px;
  border-radius: 10px;
}

.article {
  color: black;
  text-decoration: none;
}

.article:hover {
  text-decoration: underline;
}
