@media (max-width: 36em) {
  html {
    font-size: 100%;
  }

  .section-title {
    font-size: 2em;
  }

  /* Banner resize */

  h1 {
    min-width: 220px; /* width >= 220px */
  }

  .centered-1,
  .centered-2 {
    display: inline-block;
    font-size: 150%;
  }

  /* Navbar resize */

  #navbar .container {
    display: block;
    font-size: 150%;
    margin-top: 20px;
  }

  #navbar div {
    margin-left: 30px;
    margin-bottom: 20px;
  }

  /* About resize */

  #about .container {
    font-size: 125%;
    margin-top: 100px;
    display: block;
  }

  /* job-info resize */

  #job-info .container {
    display: block;
  }

  #border-1-4 p {
    justify-self: left;
  }

  /* certificate resize */

  .certificates {
    display: grid;
  }

  #web-cert,
  #javascript-cert {
    min-width: 100%;
    border: none;
    border-bottom: 1px solid #d6c08d;
    margin: 10px 0;
  }

  #database-cert {
    border: none;
  }

  .certificate img {
    width: 90%;
  }

  /* Project resize */

  .du-an {
    font-size: 133.33%;
  }

  .small-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* Footer resize */

  #footer span {
    display: none;
  }
}
