@media (max-width: 48em) {
  html {
    font-size: 100%;
  }

  .digi-document {
    display: block;
    margin: 4%;
    width: 92%;
  }

  .two-column i {
    margin: 0 45%;
  }

  /* .digi-document i {
    align-content: center;
  } */

  .title {
    font-size: 200%;
  }

  .digi-document section {
    margin-bottom: 2%;
  }

  #goals > .container > .two-column {
    padding: 0 7.5%;
  }

  .two-column {
    grid-template-columns: 1fr;
  }

  .timeline {
    margin-left: 5%;
  }

  .project-info {
    padding-left: 0;
  }
}
